.services {
    background-color: var(--basic-color);
    background-image: url('../../../../public/logos/12.png');
    background-position: center;
    background-size: 4%;
    background-repeat: repeat;
}

.service_card {
    text-align: center;
    background-color: var(--basic-color);
    padding: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px #0000001b, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #0000001b, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.service_card hr {
    width: 70px;
    border-color: var(--sub-color);
    border-width: 4px;
    border-radius: 50px;
    margin: auto;
    opacity: 1;
}
.service_card h5 {
    color: var(--sub-color);
    font-weight: bold;
}

.service_card p {
    line-height: 1.7em;
    color: var(--gray-color);
    font-size: 14px;
}
.service_icon {
    width: 80px;
    height: 80px;
    border-right: 2px dotted var(--main-color);
    border-radius: 31px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}
.service_card img {width: auto;max-height: 60px;}