.works {background-color: #fcfcfc;}
.work_card {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0 10px;
}
.work_card p {font-size: 15px;}
.icon {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    border: 1px solid #507aff40;
    background-color: var(--sub-color);
    border-radius: 5px;
    text-align: center;
    color: var(--sub-color);
    position: relative;
    line-height: 2.9em;
    background-color: var(--basic-color);
    -webkit-box-shadow: 0px 10px 13px -7px #0000001b, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #0000001b, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.icon b {
    color: var(--basic-color);
    background-color: var(--sub-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: -8px;
    top: -4px;
    font-size: 10px;
    padding-top: 3px;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, .3);
    line-height: 1.5em;
}