.why_choose {
    background-image: url("../../../../public/0.jpg");
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.why_choose::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #0033ffbd;
    z-index: -1;
}

.why_choose h2,
.why_choose p,
.why_choose_bulq_li {
    position: relative;
    z-index: 3;
}
.why_choose_bulq_li {
    border: 1px solid #fbfbfb6b;
    border-radius: 7px;
    padding: 17px;
    margin: 10px 0 7px;
    backdrop-filter: blur(2px);
}
.why_choose_bulq_li p {
    margin: 0;
}
.why_choose_bulq_li b {
    color: #5cc7fd;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    text-shadow: 1px 5px 3px rgba(0, 0, 0, .3);
    line-height: 1.5em;
}
.why_choose_img {position: relative;z-index: 3;}
.why_choose_img img {
    width: auto;
    max-height: 70px;
    display: block;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    margin: 30px auto 5px;
    filter: drop-shadow(4px 8px 2px rgba(0,0,0,.3));
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
