.features {
    background-color: var(--dark-color);
    position: relative;
    overflow: hidden;
}
.features::after {
    content: "";
    position: absolute;
    right: 0px;
    transform: translateX(35%);
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../public/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.features ul li , .features h2, .features p {color: var(--basic-color);}
.features ul li {margin-block: 10px 0;}
.features ul li strong {margin-right: 7px;color: var(--sub-color);}
.features ul li span {
    position: relative;
    color: var(--basic-color);
    font-size: x-small;
    display: inline-block;
    margin-right: 7px;
    width: 15px;
    height: 15px;
    text-align: center;
}
.features ul li span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../../../../public/logos/9.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media(max-width:1200px) {
    .features::after {display: none;}
}