:root {
  --main-color: #0033ff;
  --sub-color: #507aff;
  --dark-color: #01033e;
  --black-color: #040813;
  --gray-color: #040813;
  --basic-color: #fff;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../src/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

::selection {
  background-color: var(--main-color);
  color: var(--basic-color);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--basic-color);
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 1px solid #ddd;
}

body {
  margin: 0;
  font-family: "SpaceGrotesk", sans-serif !important;
  position: relative;
}

button,
a {
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

button:active,
button:focus-visible,
button:focus-within,
button:focus,
button:target {
  border: none;
}

a {
  text-decoration: none !important;
}

.text-color {
  color: var(--text-color) !important;
}
.main-color {
  color: var(--main-color);
}
.sub-color {
  color: var(--sub-color);
}

.sub-text {
  color: var(--sub-color);
}
.dark-color {
  color: var(--dark-color);
}
.black-color {
  color: var(--black-color);
}
.gray-color {
  color: var(--gray-color);
}

.text-lighter {
  color: var(--text-lighter) !important;
}

.border-lighter {border: 1px solid #ffffff1f !important;}
.text-lg {
  font-size: large;
}

.text-md {
  font-size: medium;
}

.text-sm {
  font-size: small;
}

.text-xs {
  font-size: x-small;
}
.text-custom {font-size: 12px;font-weight: bold;}
.line-h {
  line-height: 1.7em;
}

.b25 {
  border-radius: 25px !important;
}
/* navbar */
.navbar {padding: 20px 0;background-color: var(--main-color);position: relative;}
.navbar .search-button {
  background: transparent;
  border-radius: 6px;
  color: var(--basic-color);
  padding: 6px 15px;
  border: 1px solid var(--basic-color);
}
.navbar .nav-item {margin-inline: 0px 20px;}
.navbar .nav-link {color: var(--basic-color);}
.navbar-brand img {width: auto;max-height: 45px;}
.navbar::after {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background-color: #ffffffc2;
}

